  .sidebar {
    position: fixed;
    left: 0;
    top: 65px;
    height: 100vh;
    transition: 0.3s;
    width: 150px;
    background: #1d1e2c;
    color: #6d6e7e;

    .content {
      .link {
        .content {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background: #0f1017;

            .title {
              color: white;
            }

            svg {
              fill: white;
            }
          }

          &.active {
            background: #0f1017;

            .title {
              color: white;
            }
          }

          .icon {
            flex: 0 0 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 3px;
          }

          .title {
            flex: 1;
            // display: none;
            color: #6d6e7e;
            transition: 0.3s;
            max-width: 100px;
            overflow: hidden;
          }
        }
      }
    }
  }