.member-btn {
    width: 195px;
    height: 48px;
}

.form-label {
    font-weight: 500;
}

.modal {
    display: block;
}

.print-data {
    label {
        text-transform: uppercase;
    }
}


.custom-btn-group {
    display: flex;
    justify-content: center;
    margin: 30px 0;

    .ml-30 {
        margin-left: 30px;
    }
}

@media print {
    .custom-btn-group {
        display: none;
    }
}