<!-- <header *ngIf="currentUser">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" style="height: 65px;">
        <div class="container-fluid">
            <div class="navbar-nav me-auto" style="color: white;">
                Logo
            </div>
            <div class="d-flex">
                <h5 style="color: white;">User</h5>
                <h5 style="color: white;" (click)="logout()">Logout</h5>
            </div>
        </div>
    </nav>
</header>
<my-sidebar></my-sidebar>
<div class="content">
    <router-outlet></router-outlet>
</div> -->

<ng-container *ngIf="this.currentUser; then notauthenticated; else authenticate">
</ng-container>

<ng-template #notauthenticated>
    <header *ngIf="currentUser">
        <nav>
            <div>
                NFGI Logo
            </div>
            <div class="profile">
                <div class="user" (click)="showUserMenu()">
                    <h5>NFGI User</h5>
                </div>
            </div>
            <div class="menu" [ngClass]="{ 'active': userMenu }">
                <ul>
                    <li><a> <i class="bi bi-person-add mr-10"></i>Create User</a></li>
                    <li><a><i class="bi bi-box-arrow-right mr-10" (click)="logout()"></i>Sign Out</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <my-sidebar></my-sidebar>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</ng-template>

<ng-template #authenticate>
    <router-outlet></router-outlet>
</ng-template>