<div class="collection-list" *ngIf="showMemberData">
    <div class="row justify-content-between m-0">
        <h3 class="col-4">
            Collection & Disbursement
        </h3>
    </div>
    <form [formGroup]="searchForm">
    <div class="row row-gap justify-content-between">
        <div class="col-5">
            <div class="row">
                <label class="col-4 form-label">Customer Name</label>
                <div class="col-7">
                    <input type="text" class="form-control" formControlName="customerName">
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row">
                <label class="col-5 form-label">Membership Number</label>
                <div class="col-7">
                    <input type="text" class="form-control" formControlName="memberId">
                </div>
            </div>
        </div>
        <div class="col-2 verticle-align">
            <input type="button" class="custom-button" value="Search" (click)="getFilteredData()" />
        </div>
    </div>
    </form>
    <div class="row row-gap mt-30">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Membership Id</th>
                    <th>Account No</th>
                    <th>Loan Id</th>
                    <th>Customer Name</th>
                    <th>Loan Amount</th>
                    <th>Payment Days</th>
                    <th>Ammount Recieved</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let member of memberData; let sNo = index">
                    <tr>
                        <td>{{sNo +1}}</td>
                        <td>{{member?.memberId}}</td>
                        <td>{{member?.accountNo}}</td>
                        <td>Loan Id</td>
                        <td>{{member?.firstName}}</td>
                        <td>{{member?.loanAmount}}</td>
                        <td>Payment Days</td>
                        <td>Amount Recieved</td>
                        <td>{{member?.accountStatus}}</td>
                        <td>
                            <div class="custom-btn-group">
                                <button type="button" class="custom-button"
                                    (click)="showCollection(member)">Collection</button>
                                <button type="button" class="custom-button ml-10"
                                    (click)="showDisbursement(member)">Disbursement</button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div class="row m-0">
        <form class="row g-3">
            <div class="row row-gap p-0">
                <h5>Bulk Upload</h5>
            </div>
            <div class="row row-gap p-0">
                <div class="col-md-6">
                    <div class="row align-center">
                        <label class="col-5 form-label">Upload Collection</label>
                        <div class="col-7">
                            <input type="file" class="form-control" (change)="getExcelData($event, 'collection')">
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <button class="custom-button">
                        <a href="assets/template/collection-template.xlsx" download>Template Download</a>
                    </button>
                </div>
            </div>
            <div class="row row-gap p-0">
                <div class="col-md-6">
                    <div class="row align-center">
                        <label class="col-5 form-label">Upload Disbursement</label>
                        <div class="col-7">
                            <input type="file" class="form-control" (change)="getExcelData($event, 'disbursement')">
                        </div>
                    </div>
                </div>
                <div class="col-6 text-center">
                    <button class="custom-button">
                        <a href="assets/template/disbursement-template.xlsx" download>Template Download</a>
                    </button>
                </div>
            </div>
            <div class="col-12 text-center row-gap">
                <button type="submit" class="custom-button" (click)="submitTemplateData()">Submit</button>
            </div>
        </form>
    </div>
</div>


<div class="collection-list" *ngIf="showCollectionForm">
    <div class="row justify-content-between m-0">
        <h3 class="col-4">
            Collection
        </h3>
    </div>
    <form [formGroup]="collectionForm">
        <div class="row row-gap justify-content-between">
            <div class="col-4">
                <div class="row">
                    <label class="col-5 form-label">Customer Name</label>
                    <div class="col-7"> {{this.memberDetails.firstName}} </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-5 form-label">Loan Amount</label>
                    <div class="col-7"> {{this.memberDetails.loanAmount}} </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-5 form-label">Branch</label>
                    <div class="col-7"> {{this.memberDetails.branch}} </div>
                </div>
            </div>
        </div>
        <div class="row row-gap justify-content-between">
            <div class="col-4">
                <div class="row align-center">
                    <label class="col-5 form-label">Date</label>
                    <div class="col-7">
                        <input type="text" class="form-control" formControlName="collectionDate">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row align-center">
                    <label class="col-5 form-label">Amount Recieved</label>
                    <div class="col-7">
                        <input type="text" class="form-control" formControlName="collectionAmount">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row align-center">
                    <label class="col-5 form-label">Late Fees<small>(If Applicable)</small></label>
                    <div class="col-7">
                        <input type="text" class="form-control" formControlName="lateFees">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-gap justify-content-between">
            <div class="col-4">
                <div class="form-check custom-checkbox">
                    <input class="form-check-input" type="checkbox" formControlName="status">
                    <label class="form-check-label" for="flexCheckDefault">
                        Tick to mark the load id as closed
                    </label>
                </div>
            </div>
        </div>
        <div class="col-12 text-center row-gap">
            <button type="submit" class="custom-button" (click)="submitCollectionForm()">Submit</button>
        </div>
    </form>
</div>

<div class="collection-list" *ngIf="showDisbursementForm">
    <div class="row justify-content-between m-0">
        <h3 class="col-4">
            Disbursement
        </h3>
    </div>
    <form [formGroup]="disbursementForm">
        <div class="row row-gap">
            <div class="col-4">
                <div class="row">
                    <label class="col-5 form-label">Customer Name</label>
                    <div class="col-7"> {{this.memberDetails.firstName}} </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-5 form-label">Membership Id</label>
                    <div class="col-7"> {{this.memberDetails.memberId}} </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-5 form-label">Loan Id</label>
                    <div class="col-7"> XXX </div>
                </div>
            </div>
        </div>
        <div class="row row-gap">
            <div class="col-4">
                <div class="row">
                    <label class="col-5 form-label">Branch</label>
                    <div class="col-7"> {{this.memberDetails.branch}} </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <label class="col-5 form-label">Status</label>
                    <div class="col-7"> {{this.memberDetails.status}} </div>
                </div>
            </div>
        </div>
        <div class="row mt-30">
            <div class="col-4">
                <div class="row align-center">
                    <label class="col-5 form-label">Disbursement Date</label>
                    <div class="col-7">
                        <input type="text" class="form-control" formControlName="disbursementDate">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row align-center">
                    <label class="col-5 form-label">Amount</label>
                    <div class="col-7">
                        <input type="text" class="form-control" formControlName="disbursementAmount">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row align-center">
                    <label class="col-5 form-label">Installment</label>
                    <div class="col-7">
                        <input type="text" class="form-control" formControlName="disbursementInstallment">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center mt-30">
            <button type="submit" class="custom-button" (click)="submitDisbursementForm()">Submit</button>
        </div>
    </form>
</div>