<div class="row">
    <h3 class="col-4">
        Dashboard
    </h3>
</div>
<div class="row row-gap">
    <div class="col-4">
        <select (change)="filterCardData($event.target)">
            <option>Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
            <option>Yearly</option>
        </select>
    </div>
</div>
<div class="row row-gap">
    <div class="col-4">
        <div class="card">
            <div class="card-body custom-card">
                <div class="col-6 form-label">New Account Disbursement</div>
                <div class="col-6 text-end">&#8377; Value</div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body custom-card">
                <div class="col-6 form-label">Renewal Account Disbursement</div>
                <div class="col-6 text-end">&#8377; Value</div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body custom-card">
                <div class="col-6 form-label">Total Account Collection</div>
                <div class="col-6 text-end">&#8377; Value</div>
            </div>
        </div>
    </div>
</div>

<div class="row row-gap custom-box">
    <div class="col-4 form-label">
        Branch Wise Details
    </div>
    <div class="row row-gap">
        <div class="col-4 p-0">
            <select [(ngModel)]="selectedBranch" (ngModelChange)="onBranchSelect($event)">
                <option *ngFor="let branch of branchData" [value]="branch">
                    {{branch}}
                </option>
              </select>
        </div>
        <div class="col-4">
            <select [(ngModel)]="selectedMonth" (ngModelChange)="onMonthSelect($event)">
                <option *ngFor="let month of monthData" [value]="month">
                    {{month}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-8">
        <div class="row row-gap custom-box">
            <div class="row form-label">
                {{selectedBranch}}
            </div>
            <div class="row">
                <div class="col-8 p-0">
                    <div class="custom-list">
                        <div class="key">Loan Amount</div>
                        <div class="value">&#8377; {{branchWiseDetails.totalLoanAmount}}</div>
                    </div>
                    <div class="custom-list">
                        <div class="key">Matured Loan Amount (120 Days)</div>
                        <div class="value">&#8377; {{branchWiseDetails.totalMaturedLoanAmount}}</div>
                    </div>
                    <div class="custom-list">
                        <div class="key">Installment</div>
                        <div class="value">&#8377; {{branchWiseDetails.totalInstallment}}</div>
                    </div>
                    <div class="custom-list">
                        <div class="key">Recovery</div>
                        <div class="value">&#8377; {{branchWiseDetails.totalRecovey}}</div>
                    </div>
                    <div class="custom-list">
                        <div class="key">Balance (120 Days)</div>
                        <div class="value">&#8377; {{branchWiseDetails.totalBalance}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>